@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
 
}

html, body {
    width:100%;
    min-width:370px;
    height:100%;
    font-family: "Orbitron";
    background-color: #361374;
    color:white;
}

.btn-header {
    color:white;
    background-color:transparent;

    width:200px;
    height:60px;
    padding:10px;
    margin:8px;

    cursor:pointer;
    
    border:1px solid white;
    border-radius:6px;
    
    font-size:100%;
    font-family: "Orbitron";

    transition: .4s ease;
}

.btn-header:hover {
            
    background-color:  #566981;
    border: 1px solid #566981;
}

#home {
    text-align:left; font-weight:bolder; margin:64px; letter-spacing: 8px;
}

#title-home {
    font-size: 64px;
}

#description-home {
    font-size:24px;
}

@media only screen and (max-width:520px) {
    #home {
        margin:16px;
    }
    #title-home {
        font-size:34px;
    }
    #description-home {
        font-size:22px;    
    }
}